@import './components/app-header.css';
@import './components/app-footer.css';
@import '../apps/mail/css/mail.css';
@import './parts/helpers.css';
@import '../apps/keep/css/notesMain.css';
@import '../css/components/app-home.css';
@import '../css//components/about.css';

* {
  box-sizing: border-box;
  font-family: 'Raleway', 'FiraSans', cursive;
}

body {
  margin: 0 auto;
  background-color: var(--cp2);
  color: var(--cp3);
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url(../assets/fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: 'FiraSans';
  src: url(../assets/fonts/FiraSans/FiraSans-Black.ttf);
}
@font-face {
  font-family: 'FiraSans-Bold';
  src: url(../assets/fonts/FiraSans/FiraSans-Bold.ttf);
}
:root {
  --cp1: #f2cc8f;
  --cp2: #f4f1de;
  --cp3: #3d405b;
  --cp4: #81b29a;
  --cp5: #e07a5f;
  --cp1-d: #ebb256;
  --cp2-d: #e1d9a5;
  --cp3-d: #33364d;
  --cp4-d: #629f82;
  --cp5-d: #d95935;

  --border: var(--cp3);

  --size-unit: 4px;

  --size-1: var(--size-unit);
  --size-2: calc(var(--size-unit) * 2);
  --size-3: calc(var(--size-unit) * 3);
  --size-4: calc(var(--size-unit) * 4);
  --size-8: calc(var(--size-unit) * 8);
  --size-16: calc(var(--size-unit) * 16);
  --size-24: calc(var(--size-unit) * 24);
}
