@import './components/app-header.css';
@import './components/app-footer.css';
@import '../apps/mail/css/mail.css';
@import './parts/helpers.css';
@import '../apps/keep/css/notesMain.css';
@import '../css/components/app-home.css';
@import '../css//components/about.css';

@import '../apps//book/assets/booksMain.css';
* {
  box-sizing: border-box;
  font-family: 'Raleway', 'FiraSans', cursive;
}

body {
  margin: 0 auto;
  background-color: var(--cp1);
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url(../assets/fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: 'FiraSans';
  src: url(../assets/fonts/FiraSans/FiraSans-Black.ttf);
}
@font-face {
  font-family: 'FiraSans-Bold';
  src: url(../assets/fonts/FiraSans/FiraSans-Bold.ttf);
}
:root {
  --cp1: #fffdf0;
  --cp2: #cee5d0;
  --cp3: #fed2aa;
  --cp4: #ffbf86;
}
