@import './notesAdd.css';
@import './notesList.css';
@import './noteFilter.css';
@import './noteEdit.css';

@font-face {
  font-family: hind-regular;
  src: url(../../../assets/fonts/Hind_Siliguri/HindSiliguri-Regular.ttf);
}
.keep-app {
  font-family: hind-regular;
}
