.add-note {
  height: 7vh;
  width: 100%;
  background-color: rgb(219, 233, 200);
  display: flex;
  align-items: center;
  font-size: 30px;
}

.add-note-form {
  margin-inline-start: 35px;
}
.add-note-form label {
  margin: 30px;
}

.add-note-input {
  margin-inline-start: 30px;
}
.add-note-input label {
  margin-inline-start: 30px;
}

.add-note input {
  height: 30px;
  border: none;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  border-radius: 10px;
}

.add-note select {
  height: 30px;
  border: none;
  width: 150px;
  border-radius: 10px;
}
.add-note button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #fed2aa;
  font-size: 1.1rem;
}

.add-note h3 {
  margin-inline-start: 20px;
}
