.note-list {
  width: 100%;
  text-align: center;
  column-count: 5;
  column-width: 385px;
  gap: 10px;
}

.note-preview {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  width: 385px;
  border: 1px solid rgba(206, 205, 205, 0.521);
  border-radius: 8px;
  transition: 0.2s;
}
.note-preview:hover {
  -webkit-box-shadow: 0px 0px 4px 1px #000000;
  box-shadow: 0px 0px 4px 1px #000000;
  opacity: 0.9;
  cursor: pointer;
}

.preview-content {
  display: flex;
  flex-direction: column;
}

.preview-buttons {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.preview-buttons input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  height: 30px;
  width: 30px;
}
.paint-img {
  background-color: rgb(255, 249, 250);
  border-radius: 5px;
  height: 30px;
}

.preview-buttons button {
  height: 30px;
  width: 30px;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 249, 250);
  transition: 0.2s;
}

.preview-buttons button:hover {
  background-color: rgb(247, 214, 219);
  cursor: pointer;
}

.preview-buttons button img {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.img-note {
  justify-content: center;
}

.video-note {
  justify-content: center;
}

.img-note img {
  max-width: 300px;
}

.txt-note {
  min-height: 100px;
}

img .top-svg {
  height: 30px;
  width: 30px;
}
