.compose-mail {
  background-color: grey;
  height: 70%;
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 100px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.new-mail-header {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 5%;
  background-color: rgb(31, 27, 27);
  color: white;
  font-size: large;
  font-weight: 400;
  letter-spacing: 1px;
  align-items: center;
  padding: 10px;
}
