.mail-header {
  height: 8vh;
  background-color: var(--cp1);
  width: 100%;
  -webkit-box-shadow: inset 0px -10px 0px -20px #000000;
  box-shadow: inset 0px -10px 0px -20px #000000;
}
.mail-main-header {
  height: 100%;
  margin: 0 5%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.mail-header img {
  height: 50px;
}

.searchMail {
}
