.mail-preview {
  color: var(--cp3);
}
.mail-preview tr {
}
.mail-preview td {
  padding: var(--size-2) var(--size-4);
}
.mail-preview > * {
}

.mail-preview:first-child {
}

.mail-preview > * {
}

.star-preview {
}

.from-preview {
}

.subject-preview {
}

.text-preview {
}
.expand-preview {
  background-color: var(--cp4);
  height: 300px;
}
.expand-preview-cell {
  white-space: normal;
  position: relative;
  overflow: visible;
}
.expand-preview-cell-content {
  background-color: var(--cp4);
  position: absolute;
  top: 0;
  height: 300px;

  width: calc(100vw - 400px);
}

.bold {
  font-family: 'Raleway-Bold';
  font-weight: 1000;
}

.preview-options {
}
.preview-options img {
  margin: 0 var(--size-1);
  opacity: 0.2;
  transition: 0.3s ease-in-out all;
}
.preview-options img:hover {
  margin: 0 var(--size-1);
  opacity: 1;
}
.mail-preview:hover {
  color: var(--cp4);
}
.star-preview img {
  height: 25px;
}

.clickable {
  /* width: 80%; */
}
.label-span {
  /* display: flex;
  flex-flow: row;
  align-items: center; */
  margin-right: var(--size-2);
  padding: var(--size-1) var(--size-2);
  border-radius: 8px;
  background-color: var(--cp4);
  color: var(--cp2);
  font-weight: 100;
}
