.mail-preview {
  border-bottom: 1px solid rgb(165, 165, 165);
  align-items: center;
  box-sizing: border-box;
  max-height: 55px;
  width: 100%;
  position: relative;
  background-color: var(--cp1);
  justify-items: center;
}

.mail-preview > * {
  box-sizing: border-box;
}

.mail-preview:first-child {
  border-top: 1px solid rgb(165, 165, 165);
}

.mail-preview > * {
  padding: 8px;

  /* border-right: 1px solid rgb(165, 165, 165); */
}

.star-preview {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.from-preview {
  width: 10%;
}

.subject-preview {
  width: 15%;
}
.text-preview {
  width: 72%;
}

.bold {
  font-family: 'Raleway-Bold';
  font-weight: 1000;
  background-color: var(--cp1);
}

.preview-options {
  display: none;
  position: absolute;
  right: 0;
  margin: 2px;
}
.preview-options > * {
  margin: 3px;
}
.mail-preview:hover .preview-options {
  display: flex;
  transform: scale(1.1);
  align-items: center;
}
.mail-preview:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
  z-index: 2;
}
.star-preview img {
  height: 25px;
}

.clickable {
  width: 80%;
}
