.book-details {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(236, 217, 214);
  height: 80%;
  width: 30vw;
  text-align: center;
  border: 5px black solid;
}
.book-details button {
  margin-bottom: 10px;
  height: 40px;
  width: 60px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(248, 121, 98);
  cursor: pointer;
}

.expensive {
  color: red;
}
.cheap {
  color: green;
}

.block {
  display: block;
}
.none {
  display: none;
}
