.header {
  margin: 0;
  height: 10vh;
}
.main-header {
  width: 90%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.apps-menu img {
  height: 40px;
}

.nav-modal {
  text-align: center;
  /* height: 200px; */
  /* width: 250px; */
  background-color: var(--cp4);
  position: absolute;
  border-radius: var(--size-2);
  top: var(--size-24);
  right: var(--size-16);
  padding: var(--size-3);
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  transition: 0.3s;
  gap: var(--size-4);
}
.nav-modal img {
  height: var(--size-8);
  width: var(--size-8);
  transition: ease-in-out 0.3s all;
}
.nav-modal img:hover {
}
